@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.ticket header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

.ticket header h1 {
  margin: 0;
  font-size: 3.0rem;
  font-weight: 800;
}

#order-number {
  display: block; /* Makes it go to the next line */
  font-size: 1.5em;
  margin-top: 0;
}

.ticket {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border: 1px solid #ddd;
  padding: 40px 20px;
  width: 30%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.ticket:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: none
}

tr.col-0 {
  font-weight: 0;
}

tr.col-1 {
  text-align: right;
}
tr.col-2 {
  font-weight: 700;
}

th, td {
  padding: 5px;
  text-align: left;
}

tfoot{
  font-weight: 700;
}

#total-price {
  text-align: right;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  margin: 0px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

p.caption {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  padding: 5px;
}

br {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .ticket {
    width: 80%;
    padding: 20px 10px;
  }
}